/* COLORS 
Gold: #F2B96E
Chocolate: #371414
Red: #EE3333
Cream: #E6D3CE */

@font-face {
  font-family: "Big John";
  font-family: "Slim Joe";
  src: url(./fonts/BIG\ JOHN.otf);
  src: url(./fonts/Slim\ Joe.otf);
}

/* OVERRIDES */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ee3333;
  font-size: 20px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: #371414;
  font-family: "Big John", sans-serif;
}

p,
span {
  font-family: "Gill Sans", sans-serif;
}

img {
  max-width: 100%;
}

/* NAVIGATION
This is going to flex with logo on left and menu items on right (flex in flex/grid)
*/
nav {
  align-content: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  width: 100%;
}

.logo {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  margin: 0.4rem;
  padding: 0.4rem;
}

.logo svg {
  width: 80px;
}

/* NAV BUTTONS
I want these to look like little square chocolates
*/
nav ul li a {
  background: #371414;
  color: #e6d3ce;
  font-family: "Big John", sans-serif;
  font-size: 0.8rem;
  margin-right: 2rem;
  padding: 0.6rem 1.6rem;
  text-decoration: none;
  text-transform: uppercase;

  box-shadow: inset -0.2em -0.2em 0.2em #371414, inset 0.2em 0.2em 0.2em #e6d3ce,
    0.2em 0.2em 0.6em #371414;
}

nav ul li a:hover {
  background: #e6d3ce;
  color: #371414;
  transform: scale(150%);
}

/* COVER SECTION 
Chocolatey image with text beside
"A World of Pure Imagination"
"Wonka's chocolates prove dreams do come true."
*/
header {
  color: #e6d3ce;
  display: grid;
  grid-template-columns: auto 90ch;
  height: 100vh;
  margin: auto;
  max-width: 90%;
  padding: 70px 10px;
}

header img {
  align-self: center;
  filter: drop-shadow(0.5rem 0.5rem 2rem black);
  justify-self: center;
  max-height: 100%;
  transform: rotate(15deg);
}

header div {
  align-self: center;
  position: relative;
  top: 4rem;
}

h1 {
  font-size: 4.5rem;
}

header p {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

/* PRODUCT GRID SECTION
Section of product cards ordered in a grid
hot chocolate, cold chocolate, baked chocolate, 
*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product {
  background: #371414;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 1rem;
}

.product h2 {
  color: #e6d3ce;
  margin: 0;
}

.product span {
  color: #f2b96e;
  font-family: "Big John", sans-serif;
  font-size: 1.2rem;
}

.product img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.product-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* OUR STORY SECTION 
Centered text talking about the factory
*/
.our-story {
  color: #e6d3ce;
  margin: 2rem auto;
  max-width: 60ch;
}

.our-story img {
  opacity: 0.8;
}

/* THE FOUNDER
Willy Wonka about section
*/

/* FIND US 
how to find the chocolate factory
*/
