/* COLORS 
Gold: #F2B96E
Chocolate: #371414
Red: #EE3333
Cream: #E6D3CE
 

/* OVERRIDES */

/* NAVIGATION
This is going to flex with logo on left and menu items on right (flex in flex/grid)
*/

/* NAV BUTTONS
I want these to look like little square chocolates
    box-shadow: inset -0.6em -0.6em 1em #371414,
    inset 0.4em 0.4em 0.5em #E6D3CE,
    0.8em 0.8em 2em #371414;
*/

/* COVER SECTION 
Chocolatey image with text beside
"A World of Pure Imagination"
"Wonka's chocolates prove dreams do come true."
*/

/* PRODUCT GRID SECTION
Section of product cards ordered in a grid
hot chocolate, cold chocolate, baked chocolate, 
*/

/* OUR STORY SECTION 
Centered text talking about the factory
*/

/* THE FOUNDER
Willy Wonka about section
*/

/* FIND US 
how to find the chocolate factory
*/
