/* COLORS 
Gold: #F2B96E
Chocolate: #371414
Red: #EE3333
Cream: #E6D3CE
*/

/* OVERRIDES */

/* NAVIGATION
This is going to flex with logo on left and menu items on right (flex in flex/grid)
*/

/* NAV BUTTONS
I want these to look like little square chocolates
*/

/* COVER SECTION 
Chocolatey image with text beside or over the top
*/

/* PRODUCT GRID SECTION
Section of product cards ordered in a grid
hot chocolate, cold chocolate, baked chocolate, 
*/

/* OUR STORY SECTION 
Centered text talking about the factory
*/

/* THE FOUNDER
Willy Wonka about section
*/

/* FIND US 
how to find the chocolate factory
*/
