@use "../../styles/base.scss";

.burgerIcon {
  stroke: base.$secondary-color;
  backdrop-filter: blur(5px);
  border-radius: 0.1rem;
}

.burgerMenu {
  nav {
    margin-top: 100px;
  }
  nav ul li {
    margin-right: 0 !important;
  }
}
