@use "../../styles/base.scss";

.product {
  max-width: 70ch;
  margin: 5rem auto 0 auto;
  padding: 1rem;
  h1 {
    font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
    margin: 2rem 0 1rem 0;
  }

  h2 {
    font-size: 1rem;
    margin: 0;
  }

  li {
    font-family: "Gill Sans", sans-serif;
  }
  .imageContainer {
    @include base.chocolate;
  }
}
