/* COLORS 
Gold: #F2B96E
Chocolate: #371414
Red: #EE3333
Cream: #E6D3CE */

// Create utils for colors and typography

/* OVERRIDES */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2b96e;
  font-size: 20px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: #371414;
}

p,
span {
  font-family: "Gill Sans", sans-serif;
}

img {
  max-width: 100%;
  object-fit: contain;
}

/* THE FOUNDER
Willy Wonka about section
*/

/* FIND US 
how to find the chocolate factory
*/
